/*
 * Colors:
 *
 * Regular background: hsl(187, 45%, 8%)
 * Workspace background: hsl(189, 47%, 6)
 * Darker elements: hsl(189, 11%, 26%)
 * Lighter elements: white
 * Default grid is 70x70
 */
@font-face {
  font-family: "SourceCodePro";
  src: url("SourceCodePro-Regular.otf.woff") format('woff');
}
@font-face {
  font-family: "SourceCodePro";
  src: url("SourceCodePro-Bold.otf.woff") format('woff');
  font-weight: bold;
}

body {
  background-color: hsl(187, 45%, 8%);
  color: #ffffff;
  font-family: "SourceCodePro",Helvetica,Arial,sans-serif;
  margin: 0;
  padding: 0;
}

the-panel {
  background-color: hsl(187, 45%, 8%);
  z-index: 2;
  transition: left 0.3s ease-in-out, bottom 0.3s ease-in-out;
}

the-panel the-card {
  display: block;
  margin: 0px;
  padding: 0px;
  margin-bottom: 7px;
  padding-bottom: 7px;
  border-bottom: 1px rgb(71, 71, 71) solid;
  width: 280px;
  max-height: 280px;
  overflow-x: hidden;
  overflow-y: auto;
}

the-panel the-card button,
noflo-search button,
noflo-runtime button {
  padding: 3px;
  background-color: transparent;
  border: none;
  color: white;
}

the-panel the-card h1 {
  margin: 0px;
  font-size: 12pt;
}
the-panel the-card h2 {
  margin: 0px;
  font-size: 10pt;
}

the-panel the-card ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

the-panel the-card textarea {
  width: 100%;
  min-height: 100px;
  max-height: 260px;
}

the-panel the-card ul li {
  display: inline;
  margin: 2px 0px;
}

the-panel the-card ul.components li {
  display: block;
  clear: right;
  margin-bottom: 5px;
}

the-panel the-card ul.components li h2 {
  font-size: 10pt;
  margin: 0px;
}
the-panel the-card ul.components li .icon {
  float: right;
}

noflo-main section {
  clear: left;
}
noflo-main ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}
noflo-main ul li {
  padding: 1em;
  float: left;
  text-align: center;
  background-color: rgb(71, 71, 71);
  border-radius: 6px;
  margin-right: 1em;
  margin-bottom: 1em;
}
noflo-main ul li the-graph-thumb {
  display: block;
}
noflo-main ul li a {
  color: black;
  text-decoration: none;
}

#context {
  padding-top: 70px;
}

noflo-search {
  background-color: hsl(187, 45%, 8%);
  position: fixed;
  left: 0;
  top: 0;
  color: white;
  z-index: 3;
  width: 280px;
  height: 70px;
  font-size: 22px;
}
noflo-search input {
  background-color: hsl(187, 45%, 8%);
  border: none;
  color: white;
}

noflo-search button {
  text-align: center;
  padding: 6px;
}

noflo-new-graph,
noflo-new-project {
  background-color: hsl(187, 45%, 8%);
  display: block;
  position: fixed;
  width: 400px;
  top: 50px;
  left: 50%;
  margin-left: -200px;
  outline: solid hsla(0, 0%, 11%, 0.6) 1000px;
  z-index: 2;
}

noflo-breadcrumb {
  background-color: hsl(187, 45%, 8%);
  position: fixed;
  left: 280px;
  top: 0;
  color: rgb(71, 71, 71);
  padding: 0px;
  z-index: 3;
  width: 210px;
  height: 70px;
}

noflo-runtime {
  background-color: hsl(187, 45%, 8%);
  position: fixed;
  right: 0;
  top: 0;
  color: rgb(71, 71, 71);
  padding: 0px;
  z-index: 3;
  width: 210px;
  height: 70px;
}
noflo-runtime button {
  color: rgb(71, 71, 71);
}

noflo-runtime .online {
  color: #01d159;
}
noflo-runtime .offline {
  color: #e70215;
}

#workspace {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

#navigator {
  width: 80%;
  height: 80%;
  position: fixed;
  top: 0;
  left: 50%;
  margin-left: -40%;
  z-index: 200;
  display: none;
}


.noflo-ui-main {
  padding: 1em;
}

.noflo-ui-main .btn {
  padding: 0.5em;
  margin: 0.5em;
  background-color: #c0c0c0;
  color: #000000;
  border-radius: 2px;
}

.noflo-ui-main ul {
  margin-top: 1em;
  margin-left: 0px;
  list-style: none;
}

.noflo-ui-main ul li a {
  float: left;
  margin: 6px;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  padding: 20px;
  width: 60px;
  height: 20px;
}

.noflo-ui-main h2 {
  clear: left;
  margin-top: 1em;
}

#preview-iframe {
  display: none;
  border: none;
}
the-card #preview-iframe {
  display: block;
}

.dataflow-card .noflo-ui-preview {
  overflow: hidden;
}

.dataflow-card .noflo-ui-preview h2 {
  margin: 0px;
  padding: 4px 4px;
  font-size: 18px;
}

.dataflow-card .noflo-ui-preview .toolbar .online {
  color: #7ee67e;
}

.dataflow-card .noflo-ui-preview .toolbar .offline {
  color: #e67e7e;
}

.dataflow-card .noflo-ui-preview .toolbar button {
  color: #3e8bc5;
  background-color: transparent;
  border: none;
}

.dataflow-card .noflo-ui-preview .preview pre {
  max-height: 300px;
  color: #7ee67e;
  font-size: 10px;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: monospace;
}

.dataflow-node-inspector-inputs label.connected {
  display: none;
}

.noflo-ui-settings {
  max-height: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.noflo-ui-settings form label,
.noflo-ui-settings div.toolbar,
.noflo-ui-settings h2 {
  display: block;
  padding: 15px 20px 10px;
  margin: 0px;
  border-top: 1px solid hsla(0, 0%, 0%, .1);
  border-bottom: 1px solid hsl(220, 10%, 16%);
  background-color: hsla(0, 100%, 0%, 0.1);
}

.noflo-ui-settings form input,
.noflo-ui-settings form textarea {
  width: 100%;
  color: hsl(220, 10%, 65%);
  background-color: hsla(240, 7%, 11%, .8);
  border: 1px solid hsla(0, 0%, 63%, .1);
  box-shadow: inset 0 1px 3px hsla(0, 0%, 0%, .2);
}
.noflo-ui-settings form textarea {
  height: 12em;
}
.noflo-ui-settings form input:focus,
.noflo-ui-settings form textarea:focus {
  color: hsl(220, 10%, 85%);
  background-color: hsl(0, 100%, 50%);
  box-shadow: 0px 2px 4px hsla(0, 0%, 40%, .1);
  background-color: hsla(240, 7%, 8%, 1);
  border: 1px solid hsla(0, 0%, 94%, .1);
}
