/*
 * Colors:
 *
 * Regular background: hsl(187, 45%, 8%)
 * Workspace background: hsl(189, 47%, 6)
 * Darker elements: hsl(189, 11%, 26%)
 * Lighter elements: white
 * Default grid is 35x35
 */
@font-face {
  font-family: "SourceCodePro";
  src: url("SourceCodePro-Regular.otf.woff") format('woff');
}
@font-face {
  font-family: "SourceCodePro";
  src: url("SourceCodePro-Bold.otf.woff") format('woff');
  font-weight: bold;
}

body {
  background-color: hsl(187, 45%, 8%);
  color: #ffffff;
  font-family: "SourceCodePro",Helvetica,Arial,sans-serif;
  margin: 0;
  padding: 0;
}

body.main the-panel,
body.main noflo-search {
  display: none;
}
the-panel {
  background-color: hsl(187, 45%, 8%);
  z-index: 2;
  transition: left 0.3s ease-in-out, bottom 0.3s ease-in-out, right 0.3s ease-in-out, top 0.3s ease-in-out;
}
the-panel#account {
  border-right: 1px solid hsl(189, 11%, 26%);
  top: 0px;
  z-index: 4;
}
the-panel#account:before {
  font-family: FontAwesome;
  content: '\f03a';
  color: hsl(189, 11%, 26%);
  position: absolute;
  text-align: center;
  right: 0px;
  width: 35px;
  top: 50%;
  top: calc(50% - 7px);
  font-size: 17px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
the-panel#account:not([open]):before {
  opacity: 1;
}
the-panel#account header,
the-panel#account main {
  display: block;
  margin-left: 35px;
  margin-right: 35px;
}
the-panel#account header h1 {
  text-align: center;
  border-bottom: 1px solid hsl(189, 11%, 26%);
  height: 35px;
  line-height: 35px;
}
the-panel#account main ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
the-panel#account main ul li {
  line-height: 35px;
  min-height: 35px;
}
the-panel#account main ul li a {
  color: white;
  text-decoration: none;
  display: block;
}
the-panel#account main ul li a i {
  float: right;
  line-height: 35px;
  color: hsl(189, 11%, 26%);
  margin-right: 4px;
}
the-panel#account main ul li noflo-account img {
  margin-top: 4px;
  width: 20px;
  height: 20px;
  border-radius: 35px;
  border: 1px solid #01d8e5;
  float: right;
}
the-panel#account main ul li noflo-account h1,
the-panel#account main ul li noflo-account .toolbar button {
  display: none;
}
the-panel#account main ul li noflo-account .toolbar a {
  font-size: 16px;
  line-height: 35px;
}
the-panel#context {
  border-right: 1px solid hsl(189, 11%, 26%);
  padding-top: 35px;
  margin-left: 35px;
}
the-panel#fixed {
  border-left: 1px solid hsl(189, 11%, 26%);
  z-index: 4;
}
the-panel#fixed:before {
  font-family: FontAwesome;
  content: '\f0ad';
  color: hsl(189, 11%, 26%);
  position: absolute;
  text-align: center;
  left: 0px;
  width: 35px;
  top: 50%;
  top: calc(50% - 7px);
  font-size: 17px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
the-panel#fixed:not([open]):before {
  opacity: 1;
}

the-panel the-card {
  display: block;
  margin: 0px;
  padding: 8px 8px;
  border-bottom: 1px rgb(71, 71, 71) solid;
  width: 264px;
  max-height: 280px;
  overflow-x: hidden;
  overflow-y: auto;
}
the-panel the-card[type="noflo-runtime-preview"] {
  padding: 0px;
  width: 280px;
  overflow: hidden;
}

the-panel the-card button,
noflo-search button,
noflo-runtime button {
  width: 35px;
  height: 35px;
  font-size: 10px;
  background-color: transparent;
  border: none;
  color: white;
  text-align: center;
}

the-panel the-card h1 {
  margin: 0px;
  font-size: 12pt;
}
the-panel the-card h2 {
  margin: 0px;
  font-size: 10pt;
}

the-panel the-card ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

the-panel the-card textarea {
  width: 100%;
  min-height: 100px;
  max-height: 260px;
}

the-panel the-card ul li {
  display: block;
  clear: left;
  padding: 0px;
  margin: 0px;
  margin-bottom: 17px;
}
the-panel the-card ul.toolbar li {
  display: inline;
  margin: 0px;
  margin-right: 8px;
}
the-panel the-card ul.routes {
  margin-left: -8px;
  margin-right: -8px;
}
the-panel the-card ul.routes li {
  display: inline;
  margin: 0px;
  width: 23px;
  height: 23px;
}
the-panel the-card ul.routes li button {
  width: 23px;
  height: 23px;
}

the-panel the-card ul li h2 {
  font-size: 10pt;
  margin: 0px;
}
the-panel the-card ul li i {
  float: left;
  margin-right: 8px;
}
the-panel the-card ul li p {
  margin: 0px;
  margin-top: 8px;
  padding: 0px;
  font-size: 8pt;
}

noflo-main {
  background-image: radial-gradient(circle 0.5px at 1px 1px, hsl(189, 11%, 10%) 0px, hsl(189, 11%, 12%) 1px, transparent 2px);
  background-size: 35px 35px;
  background-position: calc(50% - 19px) 4px;
  display: block;
}
noflo-main section {
  clear: left;
  display: block;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}
noflo-main section > h2 {
  font-size: 17px;
  line-height: 35px;
  margin-top: 35px;
  height: 35px;
  color: white;
  text-transform: none;
}
noflo-main section > h2 small {
  font-size: 10px;
  text-transform: uppercase;
  color: hsl(189, 11%, 26%);
}
noflo-main ul {
  padding: 0px;
  margin: 0px;
  margin-bottom: 35px;
  list-style: none;
}
noflo-main ul li {
  width: 210px;
  height: 105px;
  overflow: hidden;
  float: left;
  text-align: center;
  background-color: hsl(189, 47%, 6%);
  border-radius: 3px;
  margin-right: 35px;
  margin-bottom: 35px;
  position: relative;
}
noflo-main ul li:nth-of-type(3n) {
  margin-right: 0px;
}
noflo-main ul li.add {
  background-color: hsl(187, 45%, 10%);
}
noflo-main ul li the-graph-thumb {
  display: block;
  position: absolute;
  left: 100px;
  top: -20px;
}
noflo-main ul li button {
  display: block;
  position: absolute;
  right: 17px;
  top: 35px;
  background-color: transparent;
  color: hsl(189, 11%, 26%);
  border: 1px solid hsl(189, 11%, 26%);
  font-size: 13px;
  border-radius: 3px;
  font-family: "SourceCodePro",Helvetica,Arial,sans-serif;
  height: 35px;
  padding-left: 13px;
  padding-right: 13px;
}
noflo-main ul li h2 {
  position: absolute;
  top: 45px;
  left: 17px;
  width: 75px;
  text-transform: none;
  font-size: 10px;
  text-align: left;
}
noflo-main ul li p {
  position: absolute;
  top: 53px;
  left: 17px;
  width: 75px;
  text-transform: uppercase;
  font-size: 8px;
  text-align: left;
  color: hsl(189, 11%, 26%);
}
noflo-main ul li a {
  color: black;
  text-decoration: none;
}
noflo-main noflo-account {
  text-align: center;
  display: block;
  background-color: hsl(189, 47%, 6%);
  margin-top: -35px;
  padding-top: 35px;
  padding-bottom: 35px;
}
noflo-main noflo-account .avatar {
  border-radius: 50px;
  border: 2px solid #01d8e5;
  display: block;
  position: relative;
  width: 80px;
  height: 80px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  margin-bottom: 35px;
  overflow: hidden;
}
noflo-main noflo-account .avatar:before {
  content: '';
  border: 3px solid hsl(189, 47%, 6%);
  border-radius: 50px;
  width: 76px;
  height: 76px;
  left: -1px;
  top: -1px;
  position: absolute;
  z-index: 1;
}
noflo-main noflo-account .toolbar {
  margin-top: 35px;
  padding: 1px;
  border: 1px solid hsl(189, 11%, 13%);
  border-radius: 3px;
  background-color: hsl(187, 45%, 8%);
  display: inline-block;
}
noflo-main noflo-account .toolbar button {
  background-color: transparent;
  color: hsl(189, 11%, 26%);
  border: 1px solid hsl(189, 11%, 26%);
  font-size: 13px;
  border-radius: 3px;
  font-family: "SourceCodePro",Helvetica,Arial,sans-serif;
  height: 35px;
  padding-left: 35px;
  padding-right: 35px;
  margin: 0px;
}
noflo-main noflo-account .toolbar a {
  font-size: 13px;
  color: hsl(189, 11%, 26%);
  text-decoration: none;
  height: 35px;
  padding-left: 35px;
  padding-right: 35px;
}

noflo-search {
  background-color: hsl(187, 45%, 8%);
  border-bottom: 1px solid hsl(189, 11%, 26%);
  border-right: 1px solid hsl(189, 11%, 26%);
  position: fixed;
  left: 35px;
  top: 0;
  color: white;
  z-index: 3;
  width: 280px;
  height: 35px;
  font-size: 10px;
  white-space: nowrap;
}
noflo-search input {
  background-color: hsl(187, 45%, 8%);
  font-family: "SourceCodePro",Helvetica,Arial,sans-serif;
  border: none;
  padding: 0px;
  padding-right: 8px;
  padding-left: 8px;
  color: white;
  width: 245px;
  height: 35px;
  display: inline;
}
noflo-search button {
  border-left: 1px solid hsl(189, 11%, 26%);
  width: 35px;
  height: 35px;
  margin: 0px;
  margin-left: -5px;
  padding: 0px;
  display: inline;
  display: inline;
}

noflo-new-graph,
noflo-new-project {
  background-color: hsl(187, 45%, 8%);
  display: block;
  position: fixed;
  width: 400px;
  top: 50px;
  left: 50%;
  margin-left: -200px;
  outline: solid hsla(0, 0%, 11%, 0.6) 1000px;
  z-index: 2;
}

noflo-breadcrumb {
  position: fixed;
  left: 315px;
  top: 0;
  color: rgb(71, 71, 71);
  padding: 0px;
  z-index: 3;
  width: 210px;
  height: 70px;
  padding: 35px;
}
noflo-breadcrumb h1 {
  height: 27px;
  border-top: 1px solid hsl(189, 11%, 26%);
  padding-top: 8px;
}
noflo-breadcrumb h2 {
  height: 27px;
  width: 105px;
  border-top: 1px solid hsl(189, 11%, 26%);
  padding-top: 8px;
}

noflo-runtime {
  position: fixed;
  right: 0;
  top: 0;
  color: rgb(71, 71, 71);
  padding: 0px;
  z-index: 3;
  width: 210px;
  height: 70px;
  padding: 35px;
}
noflo-runtime .status {
  height: 27px;
  border-top: 1px solid hsl(189, 11%, 26%);
  padding-top: 8px;
}
noflo-runtime .status button {
  position: absolute;
  border-left: 1px solid hsl(189, 11%, 26%);
  right: 35px;
  top: 35px;
  height: 35px;
  text-align: center;
}
noflo-runtime .runcontrol {
  padding-top: 8px;
  border-top: 1px solid hsl(189, 11%, 26%);
  height: 27px;
}
noflo-runtime .runcontrol button {
  color: rgb(71, 71, 71);
  border-left: 1px solid hsl(189, 11%, 26%);
  position: absolute;
  right: 35px;
  top: 70px;
}

noflo-runtime .online, noflo-runtime .online button {
  color: #01d159;
}
noflo-runtime .offline, noflo-runtime .offline button {
  color: #e70215;
}

#workspace {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

#preview-iframe {
  display: none;
  border: none;
}
the-card #preview-iframe {
  display: block;
}

#zoomrange {
  display: none;
}

the-graph-nav the-graph-map {
  position: fixed;
  bottom: 0px;
  left: auto;
  top: auto;
  right: 35px;
  width: 210px;
  height: 175px;
  border-top: 1px solid hsl(189, 11%, 26%);
  border-bottom: 1px solid hsl(189, 11%, 26%);
}

#zoom button {
  width: 35px;
  height: 35px;
  font-size: 10px;
  position: fixed;
  right: 35px;
  color: white;
  background-color: hsl(187, 45%, 8%);
  border: 1px solid hsl(189, 11%, 26%);
}

#zoomin {
  right: 35px;
  bottom: 255px;
}

#zoomout {
  position: fixed;
  bottom: 210px;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: hsla(0,0%,0%,.2); 
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
