button {
  padding:0;
}


/*
 * Colors:
 *
 * Regular background: hsl(187, 45%, 8%)
 * Workspace background: hsl(189, 47%, 6)
 * Darker elements: hsl(189, 11%, 26%)
 * Lighter elements: white
 * Default grid is 35x35
 *
 * z-indexes:
 *
 * Modal dialogs: 5
 * Main screen: 4
 * Project panel: 3
 * Tool & context panels: 2
 * Workspace chrome: 1
 * Workspace: 0
 */
@font-face {
  font-family: "SourceCodePro";
  src: url("SourceCodePro-Regular.otf.woff") format('woff');
}
@font-face {
  font-family: "SourceCodePro";
  src: url("SourceCodePro-Bold.otf.woff") format('woff');
  font-weight: bold;
}

body, button {
  background-color: hsl(187, 45%, 5%);
  color: #ffffff;
  font-family: "SourceCodePro",Helvetica,Arial,sans-serif;
  margin: 0;
  padding: 0;
}

the-panel {
  background-color: hsl(187, 45%, 8%);
  z-index: 2;
  transition: left 0.3s ease-in-out, bottom 0.3s ease-in-out, right 0.3s ease-in-out, top 0.3s ease-in-out;
}
the-panel#account {
  top: 0px;
  z-index: 3;
}
the-panel#account:before {
  font-family: FontAwesome;
  content: '\f03a';
  color: hsl(189, 11%, 26%);
  position: absolute;
  text-align: center;
  right: 0px;
  width: 35px;
  top: 50%;
  top: calc(50% - 7px);
  font-size: 17px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
the-panel#account:not([open]):before {
  opacity: 1;
}
the-panel#account header,
the-panel#account main {
  display: block;
  margin-left: 35px;
  margin-right: 35px;
}
the-panel#account header h1 {
  text-align: center;
  border-bottom: 1px solid hsl(189, 11%, 26%);
  height: 35px;
  line-height: 35px;
}
the-panel#account main ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
the-panel#account main ul li {
  line-height: 35px;
  min-height: 35px;
}
the-panel#account main ul li a {
  color: white;
  text-decoration: none;
  display: block;
}
the-panel#account main ul li a i {
  float: right;
  line-height: 35px;
  color: hsl(189, 11%, 26%);
  margin-right: 4px;
}
the-panel#account main ul li noflo-account img {
  margin-top: 4px;
  width: 20px;
  height: 20px;
  border-radius: 35px;
  border: 1px solid #01d8e5;
  float: right;
}
the-panel#account main ul li noflo-account h1,
the-panel#account main ul li noflo-account .toolbar button {
  display: none;
}
the-panel#account main ul li noflo-account .toolbar a {
  font-size: 16px;
  line-height: 35px;
}
#context {
  position: fixed;
  left: 35px;
  top: 35px;
  width: 245px;
  z-index: 2;
}
the-panel#fixed {
}
the-panel#fixed:before {
  font-family: FontAwesome;
  content: '\f0ad';
  color: hsl(189, 11%, 26%);
  position: absolute;
  text-align: center;
  left: 0px;
  width: 35px;
  top: 50%;
  top: calc(50% - 7px);
  font-size: 17px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
the-panel#fixed:not([open]):before {
  opacity: 1;
}

the-card {
  display: block;
  margin: 0px;
  padding: 10px 10px 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 1px hsla(190, 100%, 30%, 0.1) solid;
  border-right: 1px hsla(190, 100%, 30%, 0.1) solid;
  background-color: hsla(190, 30%, 6%, 0.95);
  width: 280px;
  max-height: 280px;
  overflow-x: hidden;
  overflow-y: auto;
}
the-card[type="noflo-runtime-preview"] {
  padding: 0px;
  width: 280px;
  overflow: hidden;
}

html the-card[type="edge-menu"] {
  background-color: hsla(190, 30%, 9%, 0.98) !important;
}
html the-card-stack[type="node-menu"] the-card {
  background-color: hsla(190, 30%, 9%, 0.98) !important;
}

the-card button,
noflo-search button,
noflo-runtime button {
  width: 35px;
  height: 35px;
  font-size: 10px;
  background-color: transparent;
  border: none;
  color: white;
  text-align: center;
}

the-card h1 {
  display: block;
  float: left;
  text-shadow: 0 1px hsl(0, 0%, 0%);  
  text-align: left;
  margin: 0px;
  margin-bottom: 0px;
  font-size: 15px;
  line-height: 35px;

}
the-card h2 {
  line-height: 35px;
  float: right;
  margin: 0px;
  text-align: center;
  font-size: 10px;
  color: hsla(190, 100%, 80%, 0.8);
  display: block;
}

the-card ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

the-card textarea {
  width: 100%;
  min-height: 100px;
  max-height: 260px;
}

the-card ul li {
  display: block;
  padding: 0px;
  margin: 0px;
}
the-card ul.toolbar2right {
  width: 170px;
  float: right;
  display:block;
}
the-card ul.toolbar li {
  float: left;
  display: block;
  width: calc(100%/2);  
  height: 35px;
  text-align: center;
  margin: 0px;
  margin-right: 0px;
}
the-card ul.toolbar li * {
  line-height: 35px;
}
the-card ul.toolbar li button {
  width:100%;
  height:100%;
}
.red-button {
  background-color: hsla(0, 100%, 20%, 0.2);
  color: hsl(0, 100%, 65%);
}
.blue-button {
  background-color: hsla(190, 100%, 20%, 0.2);
  color: hsl(190, 100%, 65%);
}



the-card ul li h2 {
  font-size: 10pt;
  margin: 0px;
}
the-card ul li i {
  /*display: none !important;*/
  margin-right: 5px;
}
the-card ul li p {
  margin: 0px;
  margin-top: 10px;
  padding: 0px;
  font-size: 8pt;
}

noflo-main {
  background-color: hsl(187, 45%, 8%);
  display: block;
  z-index: 4;
  position: fixed;
  overflow-y: scroll;
  height: 100%;
  width: 100%;
  transition: opacity 0.3s ease-in-out;
}
noflo-main section {
  background-image: radial-gradient(circle 0.5px at 1px 1px, hsl(189, 11%, 10%) 0px, hsl(189, 11%, 12%) 1px, transparent 2px);
  background-size: 35px 35px;
  background-position: calc(50% - 19px) 4px;
  display: block;
  width: 70%;
  padding-left: 15%;
  padding-right: 15%;
}
noflo-main section > h2 {
  font-size: 17px;
  line-height: 35px;
  margin-top: 35px;
  height: 35px;
  color: white;
  text-transform: none;
}
noflo-main section > h2 small {
  font-size: 10px;
  text-transform: uppercase;
  color: hsl(189, 11%, 26%);
}
noflo-main ul {
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 35px;
  margin-left: -17px;
  margin-right: -18px;
  list-style: none;
}
noflo-main ul li {
  width: 210px;
  height: 105px;
  overflow: hidden;
  display: inline-block;
  text-align: center;
  background-color: hsl(189, 47%, 6%);
  border-radius: 3px;
  margin-right: 18px;
  margin-left: 17px;
  margin-bottom: 35px;
  position: relative;
}
noflo-main ul li.add {
  background-color: hsl(187, 45%, 10%);
}
noflo-main ul li the-graph-thumb {
  display: block;
  position: absolute;
  left: 100px;
  top: -20px;
}
noflo-main ul li button {
  display: block;
  position: absolute;
  right: 17px;
  top: 35px;
  background-color: transparent;
  color: hsl(189, 11%, 26%);
  border: 1px solid hsl(189, 11%, 26%);
  font-size: 13px;
  border-radius: 3px;
  font-family: "SourceCodePro",Helvetica,Arial,sans-serif;
  height: 35px;
  padding-left: 13px;
  padding-right: 13px;
}
noflo-main ul li h2 {
  position: absolute;
  top: 45px;
  left: 17px;
  width: 75px;
  text-transform: none;
  font-size: 10px;
  text-align: left;
}
noflo-main ul li p {
  position: absolute;
  top: 53px;
  left: 17px;
  width: 75px;
  text-transform: uppercase;
  font-size: 8px;
  text-align: left;
  color: hsl(189, 11%, 26%);
}
noflo-main ul li a {
  color: black;
  text-decoration: none;
}
noflo-main noflo-account {
  text-align: center;
  display: block;
  background-color: hsl(189, 47%, 6%);
  margin-top: -35px;
  padding-top: 35px;
  padding-bottom: 35px;
}
noflo-main noflo-account .avatar {
  border-radius: 50px;
  border: 2px solid #01d8e5;
  display: block;
  position: relative;
  width: 80px;
  height: 80px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  margin-bottom: 35px;
  overflow: hidden;
}
noflo-main noflo-account .avatar:before {
  content: '';
  border: 3px solid hsl(189, 47%, 6%);
  border-radius: 50px;
  width: 76px;
  height: 76px;
  left: -1px;
  top: -1px;
  position: absolute;
  z-index: 1;
}
noflo-main noflo-account .toolbar {
  margin-top: 35px;
  padding: 1px;
  border: 1px solid hsl(189, 11%, 13%);
  border-radius: 3px;
  background-color: hsl(187, 45%, 8%);
  display: inline-block;
}
noflo-main noflo-account .toolbar button {
  background-color: transparent;
  color: hsl(189, 11%, 26%);
  border: 1px solid hsl(189, 11%, 26%);
  font-size: 13px;
  border-radius: 3px;
  font-family: "SourceCodePro",Helvetica,Arial,sans-serif;
  height: 35px;
  padding-left: 35px;
  padding-right: 35px;
  margin: 0px;
}
noflo-main noflo-account .toolbar a {
  font-size: 13px;
  color: hsl(189, 11%, 26%);
  text-decoration: none;
  height: 35px;
  padding-left: 35px;
  padding-right: 35px;
}

noflo-search {
  background-color: hsl(187, 45%, 5%);
  border-bottom: 1px solid hsl(189, 11%, 26%);
  position: fixed;
  left: 35px;
  top: 0;
  color: white;
  z-index: 2;
  width: 280px;
  height: 35px;
  font-size: 10px;
  white-space: nowrap;
}
noflo-search input {
  background-color: hsl(187, 45%, 5%);
  font-family: "SourceCodePro",Helvetica,Arial,sans-serif;
  border: none;
  padding: 0px;
  padding-right: 10px;
  padding-left: 10px;
  color: white;
  width: 245px;
  height: 35px;
  display: inline;
}
noflo-search button {
  width: 35px;
  height: 35px;
  margin: 0px;
  margin-left: -5px;
  padding: 0px;
  display: inline;
  display: inline;
}

noflo-new-graph,
noflo-new-project,
noflo-new-component {
  background-color: hsl(187, 45%, 8%);
  display: block;
  position: fixed;
  width: 400px;
  top: calc(50% - 50px);
  left: 50%;
  margin-left: -200px;
  outline: solid hsla(0, 0%, 11%, 0.6) 1000px;
  z-index: 5;
}

noflo-breadcrumb {
  position: fixed;
  left: 315px;
  top: 0;
  color: rgb(71, 71, 71);
  padding: 0px;
  z-index: 1;
  width: 350px;
  height: 35px;
  background-color: hsl(187, 45%, 5%);
  border-bottom: 1px solid hsl(189, 11%, 26%);
}
noflo-breadcrumb h1 {
  line-height: 35px;
  width: 210px;
  overflow: hidden;
  position: absolute;
  right: 17px;
}
noflo-breadcrumb h2 {
  line-height: 35px;
  width: 105px;
  overflow: hidden;
  position: absolute;
  left: 17px;
}

noflo-runtime {
  position: fixed;
  right: 35px;
  top: 0;
  color: rgb(71, 71, 71);
  z-index: 1;
  width: 350px;
  height: 35px;
  background-color: hsl(187, 45%, 5%);
  border-bottom: 1px solid hsl(189, 11%, 26%);
}
noflo-runtime .status {
  line-height: 35px;
  position: absolute;
  left: 17px;
  width: 158px;
}
noflo-runtime .status button {
  height: 35px;
  width: 35px;
  text-align: center;
}
noflo-runtime .runcontrol {
  line-height: 35px;
  position: absolute;
  right: 17px;
  width: 158px;
}
noflo-runtime .runcontrol button {
  height: 35px;
  width: 35px;
  text-align: center;
  color: rgb(71, 71, 71);
}

noflo-runtime .online, noflo-runtime .online button {
  color: #01d159;
}
noflo-runtime .offline, noflo-runtime .offline button {
  color: #e70215;
}

#workspace {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
}

#preview-iframe {
  display: none;
  border: none;
}
the-card #preview-iframe {
  display: block;
}

#zoomrange {
  display: none;
}

the-graph-nav the-graph-map {
  position: fixed;
  bottom: 0px;
  left: auto;
  top: auto;
  right: 35px;
  width: 210px;
  height: 175px;
  border-top: 1px solid hsl(189, 11%, 26%);
  border-bottom: 1px solid hsl(189, 11%, 26%);
}

#zoom button {
  width: 35px;
  height: 35px;
  font-size: 10px;
  position: fixed;
  right: 35px;
  color: white;
  background-color: hsl(187, 45%, 8%);
  border: 1px solid hsl(189, 11%, 26%);
}

#zoomin {
  right: 35px;
  bottom: 255px;
}

#zoomout {
  position: fixed;
  bottom: 210px;
}

noflo-component-editor {
  display: block;
  position: absolute;
  top: 35px;
  left: 35px;
  right: 35px;
  height: calc(100% - 70px);
}
.CodeMirror {
  height: 100%;
}
.CodeMirror-scroll {
  height: 100%;
}
noflo-component-editor #code,
noflo-component-editor #tests {
  display: block;
  background: hsl(186,31%,6%);
  width: 50%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
}
noflo-component-editor #tests {
  left: auto;
  right: 0px;
}
noflo-component-editor #code h1,
noflo-component-editor #tests h1 {
  line-height: 35px;
  padding-left: 35px;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: hsla(0,0%,0%,.2); 
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
