input::-webkit-input-speech-button {
  margin-right: 18px;
  cursor: pointer;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  --noflo-ui-background: hsla(0, 0%, 0%, 0.98);
  --noflo-ui-background-shadow: hsla(0, 0%, 0%, 0.5);
  --noflo-ui-text: hsl(192, 25%, 92%);
  --noflo-ui-text-highlight: hsl(185,100%,75%);
  --noflo-ui-border: hsla(190, 90%, 80%, 0.3);
  --noflo-ui-border-highlight: hsl(190, 90%, 80%);
  --noflo-ui-base-unit: 72px;
}
body.light {
  --noflo-ui-background: hsl(192, 25%, 92%);
  --noflo-ui-background-shadow: hsla(192, 25%, 100%, 0.3);
  --noflo-ui-text: hsla(0, 0%, 0%, 0.98);
  --noflo-ui-text-highlight: hsl(185,100%,15%);
  --noflo-ui-border: hsla(190, 90%, 8%, 0.3);
  --noflo-ui-border-highlight: hsl(190, 90%, 8%);
}

body {
  /* iOS don't clash with our hold behavior */
  -webkit-user-select: none;                /* disable cut copy paste */
  -webkit-touch-callout: none;              /* disable callout, image save panel */
  -webkit-tap-highlight-color: transparent; /* "turn off" link highlight */
}

body #loading {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in;
  -moz-transition: opacity 0.3s ease-in;
  -ms-transition: opacity 0.3s ease-in;
  -o-transition: opacity 0.3s ease-in;
  z-index: -1;
  width: 400px;
  color: var(--noflo-ui-text-highlight);
  text-align: center;
  top: calc(50% - 18px);
  left: calc(50% - 200px);
  font-size: 36px;
  position: fixed;
}

body.loading #loading {
  display: block;
  opacity: 1;
  top: calc(50% - 18px);
  left: calc(50% - 200px);
  font-size: 36px;
  animation: pulsate 2s ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation: pulsate 2s ease-in-out;
  -webkit-animation-iteration-count: infinite;
  text-align: center;
  z-index: 10;
}
body noflo-ui {
  opacity: 1;
  transition: opacity 0.3s ease-in;
  -webkit-transition: opacity 0.3s ease-in;
  -moz-transition: opacity 0.3s ease-in;
  -ms-transition: opacity 0.3s ease-in;
  -o-transition: opacity 0.3s ease-in;
  display: block;
  width: 100vw;
  height: 100vh;
}
body.loading noflo-ui {
  opacity: 0;
}
@keyframes pulsate {
  0% {
    transform: scale(1.0, 1.0);
    opacity: 0.1;
  }
  50% {
    transform: scale(1.1, 1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1.0, 1.0);
    opacity: 0;
  }
}
@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(1.0, 1.0);
    opacity: 0.1;
  }
  50% {
    -webkit-transform: scale(1.1, 1.1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.0, 1.0);
    opacity: 0;
  }
}

button {
  padding:0;
  cursor: pointer;
  background-image: none;
  border: 0;
}

#bugreport {
  color: hsl(189, 50%, 80%);
  position: fixed;
  right: 11px;
  top: 0px;
  z-index: 10;
  line-height: 36px;
  font-size: 14px;
}
#openhelp {
  color: hsl(189, 50%, 80%);
  position: fixed;
  right: 14px;
  top: 36px;
  z-index: 10;
  line-height: 36px;
  font-size: 14px;
}

#container.blur {
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  filter: blur(2px);
  width: 100%;
  height: 100%;
  position: absolute;

  overflow: hidden;
}

#container > pre {
  display: none;
}

h1, h2, h3 {
  font-weight: normal;
}

.gpu {
  -webkit-transform: translateZ(0);
  -transform: translateZ(0);
}

@font-face {
  font-family: "SourceCodePro";
  src: url("SourceCodePro-Regular.otf.woff") format('woff');
}
@font-face {
  font-family: "SourceCodePro";
  src: url("SourceCodePro-Bold.otf.woff") format('woff');
  font-weight: bold;
}
@font-face {
  font-family: 'FontAwesomeSVG';
  src: url('../vendor/font-awesome/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg'),
    url('../vendor/font-awesome/fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'),
    url('../vendor/font-awesome/fontawesome-webfont.woff?v=4.0.3') format('woff'),
    url('../vendor/font-awesome/fontawesome-webfont.ttf?v=4.0.3') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html, body, button {
  background-color: var(--noflo-ui-background);
  color: var(--noflo-ui-text);
  font-family: "SourceCodePro",Helvetica,Arial,sans-serif;
  margin: 0;
  padding: 0;
}

.iframe-runtime {
  display: none;
  border: none;
  width: 288px;
  height: 288px;
  box-sizing: border-box;
  position: fixed;
  right: 36px;
  top: 72px;
  z-index: 2;
  background-color: var(--noflo-ui-background);
}

#container > .preview-container {
  display: none;
}

#zoomrange {
  display: none;
}

the-graph-nav {
  right: 36px !important;
  bottom: 36px !important;
}




::-webkit-scrollbar {
  width: 2px;
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
  border-radius: 1px;
  background: hsla(191, 100%, 92%, 0.3);
  -webkit-box-shadow: inset 0 0 6px hsla(0, 0%, 0%, 0.5);
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px hsla(0, 0%, 0%, 0.3);
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: hsl(0, 0%, 0%);
}

h1,
h2,
h3 {
  font-weight: normal;
}

input:focus,
select:focus,
textarea:focus,
button:focus,
h1,
h2,
h3,
div,
a,
p,
div {
  outline:none;
}

th {
  text-align: left;
}

div.error {
  color: hsla( 0, 98%, 46%, .8);
}

.red-button {
  background-color: hsla(0, 100%, 20%, 0.2);
  color: hsl(0, 100%, 65%);
}
.blue-button {
  background-color: hsla(190, 100%, 20%, 0.2);
  color: hsl(190, 100%, 65%);
}

#flowhub_debug_url {
  position: fixed;
  bottom: 0px;
  right: 0px;
  font-size; 18px;
  padding: 9px;
  z-index: 10;
  background-color: hsla(190, 100%, 20%, 0.2);
  color: var(--noflo-ui-text);
  border-left: 1px solid var(--noflo-ui-background);
  border-top: 1px solid var(--noflo-ui-background);
  cursor: pointer;
}
