html /deep/ h1,
html /deep/ h2, 
html /deep/ h3 {
  font-weight: normal;
}

html /deep/ input:focus, 
html /deep/ select:focus, 
html /deep/ textarea:focus, 
html /deep/ button:focus, 
html /deep/ h1, 
html /deep/ h2, 
html /deep/ h3, 
html /deep/ div, 
html /deep/ a, 
html /deep/ p, 
html /deep/ div {
  outline:none;
}


html /deep/ the-panel {
  background-color: hsla(0, 0%, 0%, 0.98) !important;
  transition: left 0.3s ease-in-out, bottom 0.3s ease-in-out, right 0.3s ease-in-out, top 0.3s ease-in-out, width 0.1s ease-in-out;
  position: fixed;
  border: 0px solid hsla(190, 90%, 80%, 0.3);
  box-sizing: border-box;
}
html /deep/ the-panel#account {
  top: 0px;
  border-right-width: 1px;
}
html /deep/ the-panel#account:before {
  font-family: FontAwesome;
  content: '\f03a';
  color: hsl(189, 50%, 80%);
  position: absolute;
  text-align: center;
  right: 0px;
  width: 36px;
  top: 50%;
  top: calc(50% - 7px);
  font-size: 17px;
  opacity: 0.25;
  transition: opacity 0.3s ease-in-out;
}
html /deep/ the-panel#account:not([open]):before {
  cursor: e-resize;
  opacity: 1;
}
html /deep/ the-panel#account header,
html /deep/ the-panel#account main {
  display: block;
  margin-left: 36px;
  margin-right: 36px;
}
html /deep/ the-panel#account header h1 {
  text-align: center;
  border-bottom: 1px solid hsl(189, 50%, 80%);
  height: 36px;
  line-height: 36px;
  font-size: 17px;
  white-space: nowrap;
}
html /deep/ the-panel#account main ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
html /deep/ the-panel#account main ul li {
  line-height: 36px;
  min-height: 36px;
}
html /deep/ the-panel#account main ul li a {
  color: white;
  text-decoration: none;
  display: block;
  cursor: pointer;
}
html /deep/ the-panel#account main ul li a i {
  float: right;
  line-height: 36px;
  color: hsl(189, 50%, 80%);
  margin-right: 4px;
}



html /deep/ the-panel#fixed {
  padding-left: 36px;
  padding-top: 72px;
  top: 0px;
  border-left-width: 1px;
}
html /deep/ the-panel#fixed:before {
  font-family: FontAwesome;
  content: '\f06e';
  color: hsl(189, 50%, 80%);
  position: absolute;
  text-align: center;
  left: 0px;
  width: 36px;
  top: 50%;
  top: calc(50% - 7px);
  font-size: 17px;
  opacity: 0.25;
  transition: opacity 0.3s ease-in-out;
}
html /deep/ the-panel#fixed:not([open]):before {
  opacity: 1;
  cursor: w-resize;
}
html /deep/ the-panel#fixed ::shadow footer {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

html /deep/ the-card .the-card-content {
  display: block;
  margin: 0px;
  padding: 10px 10px 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 1px hsla(190, 100%, 30%, 0.1) solid;
  border-right: 1px hsla(190, 100%, 30%, 0.1) solid;
  background-color: hsla(0, 0%, 0%, 0.99) !important;
  width: calc(72px * 4);
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
}

html /deep/ the-card[type="noflo-runtime-preview"] {
  padding: 0px;
  width: calc(72px * 4);
  overflow: hidden;
}

html /deep/ the-card.maximized {
  background-color: hsla(0, 0%, 0%, 0.99);
  width: calc(100% - 70px);
  height: calc(100% - 36px);
  max-height: none;
  position: fixed;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  top: 72px;
  left: 36px;
  transition: height 0.3s ease-in-out, width 0.3s ease-in-out;
  z-index: 3;
  border: none;
}
html /deep/ the-card.maximized ::shadow .the-card-content {
  width: 100%;
  height: 100%;
  max-height: none;
}
html /deep/ the-card-stack  ::shadow .sticky-head {
  background-color: hsla(0, 0%, 5%, 0.99) !important;
  background-image: radial-gradient(1px at 0px 0px, hsl(210, 50%, 60%) 0.5px, hsla(0, 0%, 0%, 0) 1px);
  background-size: calc(100% - 1px) 100%;
  background-position: 0px;
}

html /deep/ the-card-stack ::shadow .sticky-head h1 {
  font-size:15px;
}

html /deep/ the-card ::shadow button {
  width: 36px;
  height: 36px;
  font-size: 10px;
  background-color: transparent;
  border: none;
  color: white;
  text-align: center;
}

html /deep/ the-card ::shadow h1 {
  font-size: 12px;
  line-height: 36px;
  margin: 0px;
  margin-bottom: 0px;
  text-shadow: 0 1px hsl(0, 0%, 0%);  
  text-align: left;
}

html /deep/ the-card ::shadow header h1 {
  display: block;
  position: absolute;
  top: 10px;
  left: 10px;
  width: calc(72px * 3 - 1px);
  height: 36px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
html /deep/ the-card ::shadow header h1.clear {
  cursor: pointer;
}
html /deep/ the-card ::shadow header h2 {
  line-height: 36px;
  width: 72px;
  height: 36px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: absolute;
  top: 10px;
  right: 10px;
  margin: 0px;
  text-align: right;
  font-size: 10px;
  color: hsla(190, 100%, 80%, 0.8);
  display: block;
  cursor: default;
}
html /deep/ the-card ::shadow header {
  height: 36px;
}

html /deep/ the-card ::shadow ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

html /deep/ the-card ::shadow textarea {
  width: 100%;
  min-height: 100px;
  max-height: calc(72px * 4);
}

html /deep/ the-card ::shadow ul li {
  display: block;
  padding: 0px;
  margin: 0px;
}
html /deep/ the-card ::shadow ul.toolbar2right {
  width: 180px;
  display:block;
  position: absolute;
  right: 10px;
  top: 10px;
}
html /deep/ the-card ::shadow ul.toolbar li {
  float: left;
  display: block;
  width: calc(100%/2);  
  height: 36px;
  text-align: center;
  margin: 0px;
  margin-right: 0px;
}
html /deep/ the-card ::shadow ul.toolbar li * {
  line-height: 36px;
}
html /deep/ the-card ::shadow ul.toolbar li button {
  width:100%;
  height:100%;
}

html /deep/ .red-button {
  background-color: hsla(0, 100%, 20%, 0.2);
  color: hsl(0, 100%, 65%);
}
html /deep/ .blue-button {
  background-color: hsla(190, 100%, 20%, 0.2);
  color: hsl(190, 100%, 65%);
}


/*
html /deep/ the-card ::shadow ul li h2 {
  font-size: 10px;
  margin: 0px;
}
html /deep/ the-card ::shadow ul li i {
  margin-right: 5px;
}
html /deep/ the-card ::shadow ul li p {
  margin: 0px;
  margin-top: 10px;
  padding: 0px;
  font-size: 8px;
}
*/


html /deep/ .modal-content {
  background-color: hsl(192, 25%, 92%);
  color: black;
  display: block;
  position: absolute;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  width: calc(72px * 9);
  top: calc(50% - 150px);
  left: 50%;
  margin-left: calc(-72px * 4);
  z-index: 5;
  padding: 36px;
  box-sizing: border-box;
  border-radius: 3px;
  box-shadow: hsl(189, 47%, 6%) 0px 0px 2px;
}
html /deep/ .modal-content /deep/ h1 {
  font-size: 17px;
  line-height: 36px;
}
html /deep/ .modal-content /deep/ label {
  display: block;
  font-size: 13px;
  margin-top: 17px;
  color: black;
  line-height: 17px;
}
html /deep/ .modal-content /deep/ label > span {
  line-height: 17px;
}
html /deep/ .modal-content /deep/ input,
html /deep/ .modal-content /deep/ select,
html /deep/ .modal-content /deep/ textarea {
  display: block;
  font-size: 17px;
  background-color: rgba(0, 42, 51, 0.498039);
  background-image: none;
  font-family: "SourceCodePro",Helvetica,Arial,sans-serif;
  color: white;
  border-radius: 3px;
  padding: 3px;
  border: none;
  margin: 0px;
  width: 100%;
  box-sizing: border-box;
}
html /deep/ .modal-content /deep/ div.CodeMirror {
  border: 1px solid hsl(189, 47%, 6%);
  border-radius: 3px;
}

html /deep/ .modal-content /deep/ .toolbar {
  display: block;
  line-height: 36px;
  margin-top: 36px;
}
html /deep/ .modal-content /deep/ .toolbar button {
  background-color: transparent;
  color: hsl(190, 100%, 30%);
  border: 1px solid hsl(190, 100%, 30%);
  font-size: 13px;
  border-radius: 3px;
  font-family: "SourceCodePro",Helvetica,Arial,sans-serif;
  height: 36px;
  padding-left: 36px;
  padding-right: 36px;
  margin: 0px;
}
html /deep/ .modal-content /deep/ .toolbar button.disabled {
  opacity: 0.1;
}
html /deep/ .modal-content /deep/ .toolbar a {
  font-size: 13px;
  color: hsl(190, 100%, 30%);
  text-decoration: none;
  height: 36px;
  padding-left: 36px;
  padding-right: 36px;
  cursor: pointer;
}

html polymer-element.modal-content {
  display: none;
}
