/*
 * Colors:
 *
 * Regular background: hsl(187, 45%, 8%)
 * Workspace background: hsl(189, 47%, 6)
 * Darker elements: hsl(189, 11%, 26%)
 * Lighter elements: white
 * Default grid is 35x35
 */
@font-face {
  font-family: "SourceCodePro";
  src: url("SourceCodePro-Regular.otf.woff") format('woff');
}
@font-face {
  font-family: "SourceCodePro";
  src: url("SourceCodePro-Bold.otf.woff") format('woff');
  font-weight: bold;
}

body {
  background-color: hsl(187, 45%, 8%);
  color: #ffffff;
  font-family: "SourceCodePro",Helvetica,Arial,sans-serif;
  margin: 0;
  padding: 0;
}

the-panel {
  background-color: hsl(187, 45%, 8%);
  z-index: 2;
  transition: left 0.3s ease-in-out, bottom 0.3s ease-in-out, right 0.3s ease-in-out, top 0.3s ease-in-out;
}
the-panel#context {
  border-right: 1px solid hsl(189, 11%, 26%);
  padding-top: 35px;
}
the-panel#fixed {
  border-left: 1px solid hsl(189, 11%, 26%);
  z-index: 4;
}

the-panel the-card {
  display: block;
  margin: 0px;
  padding: 8px 8px;
  border-bottom: 1px rgb(71, 71, 71) solid;
  width: 264px;
  max-height: 280px;
  overflow-x: hidden;
  overflow-y: auto;
}

the-panel the-card button,
noflo-search button,
noflo-runtime button {
  width: 35px;
  height: 35px;
  font-size: 10px;
  background-color: transparent;
  border: none;
  color: white;
  text-align: center;
}

the-panel the-card h1 {
  margin: 0px;
  font-size: 12pt;
}
the-panel the-card h2 {
  margin: 0px;
  font-size: 10pt;
}

the-panel the-card ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

the-panel the-card textarea {
  width: 100%;
  min-height: 100px;
  max-height: 260px;
}

the-panel the-card ul li {
  display: block;
  clear: left;
  padding: 0px;
  margin: 0px;
  margin-bottom: 17px;
}
the-panel the-card ul.toolbar li {
  display: inline;
  margin: 0px;
  margin-right: 8px;
}
the-panel the-card ul.routes {
  margin-left: -8px;
  margin-right: -8px;
}
the-panel the-card ul.routes li {
  display: inline;
  margin: 0px;
  width: 23px;
  height: 23px;
}
the-panel the-card ul.routes li button {
  width: 23px;
  height: 23px;
}

the-panel the-card ul li h2 {
  font-size: 10pt;
  margin: 0px;
}
the-panel the-card ul li i {
  float: left;
  margin-right: 8px;
}
the-panel the-card ul li p {
  margin: 0px;
  margin-top: 8px;
  padding: 0px;
  font-size: 8pt;
}

noflo-main section {
  clear: left;
}
noflo-main ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}
noflo-main ul li {
  padding: 1em;
  float: left;
  text-align: center;
  background-color: rgb(71, 71, 71);
  border-radius: 6px;
  margin-right: 1em;
  margin-bottom: 1em;
}
noflo-main ul li the-graph-thumb {
  display: block;
}
noflo-main ul li a {
  color: black;
  text-decoration: none;
}

noflo-search {
  background-color: hsl(187, 45%, 8%);
  border-bottom: 1px solid hsl(189, 11%, 26%);
  border-right: 1px solid hsl(189, 11%, 26%);
  position: fixed;
  left: 0;
  top: 0;
  color: white;
  z-index: 3;
  width: 280px;
  height: 35px;
  font-size: 10px;
  white-space: nowrap;
}
noflo-search input {
  background-color: hsl(187, 45%, 8%);
  font-family: "SourceCodePro",Helvetica,Arial,sans-serif;
  border: none;
  padding: 0px;
  padding-right: 8px;
  padding-left: 8px;
  color: white;
  width: 245px;
  height: 35px;
  display: inline;
}
noflo-search button {
  border-left: 1px solid hsl(189, 11%, 26%);
  width: 35px;
  height: 35px;
  margin: 0px;
  margin-left: -5px;
  padding: 0px;
  display: inline;
  display: inline;
}

noflo-new-graph,
noflo-new-project {
  background-color: hsl(187, 45%, 8%);
  display: block;
  position: fixed;
  width: 400px;
  top: 50px;
  left: 50%;
  margin-left: -200px;
  outline: solid hsla(0, 0%, 11%, 0.6) 1000px;
  z-index: 2;
}

noflo-breadcrumb {
  position: fixed;
  left: 280px;
  top: 0;
  color: rgb(71, 71, 71);
  padding: 0px;
  z-index: 3;
  width: 210px;
  height: 70px;
  padding: 35px;
}
noflo-breadcrumb h1 {
  height: 27px;
  border-top: 1px solid hsl(189, 11%, 26%);
  padding-top: 8px;
}
noflo-breadcrumb h2 {
  height: 27px;
  width: 105px;
  border-top: 1px solid hsl(189, 11%, 26%);
  padding-top: 8px;
}

noflo-runtime {
  position: fixed;
  right: 0;
  top: 0;
  color: rgb(71, 71, 71);
  padding: 0px;
  z-index: 3;
  width: 210px;
  height: 70px;
  padding: 35px;
}
noflo-runtime .status {
  height: 27px;
  border-top: 1px solid hsl(189, 11%, 26%);
  padding-top: 8px;
}
noflo-runtime .status .state {
  position: absolute;
  border-left: 1px solid hsl(189, 11%, 26%);
  right: 35px;
  top: 35px;
  width: 34px;
  height: 27px;
  padding-top: 8px;
  text-align: center;
}
noflo-runtime .runcontrol {
  padding-top: 8px;
  border-top: 1px solid hsl(189, 11%, 26%);
  height: 27px;
}
noflo-runtime .runcontrol button {
  color: rgb(71, 71, 71);
  border-left: 1px solid hsl(189, 11%, 26%);
  position: absolute;
  right: 35px;
  top: 70px;
}

noflo-runtime .online {
  color: #01d159;
}
noflo-runtime .offline {
  color: #e70215;
}

#workspace {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

#preview-iframe {
  display: none;
  border: none;
}
the-card #preview-iframe {
  display: block;
}

#zoomrange {
  display: none;
}

#zoom button {
  width: 35px;
  height: 35px;
  font-size: 10px;
  position: fixed;
  right: 35px;
  color: white;
  background-color: hsl(187, 45%, 8%);
  border: 1px solid hsl(189, 11%, 26%);
}

#zoomin {
  right: 35px;
  bottom: 255px;
}

#zoomout {
  position: fixed;
  bottom: 210px;
}
/*
the-graph-nav#nav {
  position: fixed;
  bottom: 0px;
  right: 0px;
}
the-graph-map#map {
  display: block;
  position: fixed;
  bottom: 0px;
  right: 35px;
  width: 210px;
  height: 140px;
}*/

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: hsla(0,0%,0%,.2); 
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
