input::-webkit-input-speech-button {
  margin-right 18px;
  cursor: pointer;
}

body {
  /* iOS don't clash with our hold behavior */
  -webkit-user-select: none;                /* disable cut copy paste */
  -webkit-touch-callout: none;              /* disable callout, image save panel */
  -webkit-tap-highlight-color: transparent; /* "turn off" link highlight */
}

body.loading #loading {
  display: block;
  position: fixed;
  top: calc(50% - 18px);
  left: calc(50% - 200px);
  font-size: 36px;
  color: white;
  animation: pulsate 2s ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation: pulsate 2s ease-in-out;
  -webkit-animation-iteration-count: infinite;
  width: 400px;
  text-align: center;
  z-index: 10;
}
@keyframes pulsate {
  0% {
    transform: scale(1.0, 1.0);
    opacity: 0.1;
  }
  50% {
    transform: scale(1.1, 1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1.0, 1.0);
    opacity: 0;
  }
}
@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(1.0, 1.0);
    opacity: 0.1;
  }
  50% {
    -webkit-transform: scale(1.1, 1.1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.0, 1.0);
    opacity: 0;
  }
}

button {
  padding:0;
  cursor: pointer;
  background-image: none;
  border: 0;
}

/* Wat... can't change input selection colors in Chrome?
*::selection {
  background-color: black;
  background: black;
  color:red;
}
*/

#bugreport {
  color: hsl(189, 50%, 80%);
  position: fixed;
  right: 11px;
  top: 0px;
  z-index: 10;
  line-height: 36px;
  font-size: 14px;
}
#openhelp {
  color: hsl(189, 50%, 80%);
  position: fixed;
  right: 14px;
  top: 36px;
  z-index: 10;
  line-height: 36px;
  font-size: 14px;
}

#container.blur {
  -webkit-filter: blur(2px);
  filter: blur(2px);
  width: 100%;
  height: 100%;
  position: absolute;
}

#container > pre {
  display: none;
}

h1, h2, h3 {
  font-weight: normal;
}

.gpu {
  -webkit-transform: translateZ(0);
  -transform: translateZ(0);
}

/*
 * Colors:
 *
 * Regular background: hsl(187, 45%, 8%)
 * Workspace background: hsl(189, 47%, 6)
 * Darker elements: hsl(189, 50%, 80%)
 * Lighter elements: white
 * Default grid is 36x36
 *
 * z-indexes:
 *
 * Modal dialogs: 5
 * Main screen: 4
 * Panels: 3
 * Context cards & runtime controls: 2
 * Workspace chrome: 1
 * Workspace: 0
 */
@font-face {
  font-family: "SourceCodePro";
  src: url("SourceCodePro-Regular.otf.woff") format('woff');
}
@font-face {
  font-family: "SourceCodePro";
  src: url("SourceCodePro-Bold.otf.woff") format('woff');
  font-weight: bold;
}
@font-face {
  /* we want the svg version of the icons */
  font-family: 'FontAwesomeSVG';
  src: url('../bower_components/font-awesome/fonts/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg'),
    url('../bower_components/font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'),
    url('../bower_components/font-awesome/fonts/fontawesome-webfont.woff?v=4.0.3') format('woff'),
    url('../bower_components/font-awesome/fonts/fontawesome-webfont.ttf?v=4.0.3') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html, body, button {
  background-color: hsl(187, 45%, 5%);
  color: #ffffff;
  font-family: "SourceCodePro",Helvetica,Arial,sans-serif;
  margin: 0;
  padding: 0;
}

the-graph-editor {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

noflo-component-editor {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 36px;
  right: 0;
  z-index: 0;
}

#preview-iframe {
  display: none;
  border: none;
  width: 300px;
  height: 300px;
}

#container > .preview-container {
  display: none;
}

#zoomrange {
  display: none;
}

the-graph-nav {
  right: 36px !important;
  bottom: 36px !important;
}




::-webkit-scrollbar {
  width: 2px;
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
  border-radius: 1px;
  background: hsla(191, 100%, 92%, 0.3);
  -webkit-box-shadow: inset 0 0 6px hsla(0, 0%, 0%, 0.5);
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px hsla(0, 0%, 0%, 0.3);
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: hsl(0, 0%, 0%);
}
