/node_modules/
/bower_components/
/preview/node_modules
/browser/
/preview/browser/
/components/*/
/preview/components/*/
/spec/*.js
/spec/*.xml
/dist/
/gh-pages/
*.zip
app.*
dist.sh
manifest.json
config.xml
